:root {
  --dark-green: #1F4C09;
  --light-green: #547606;
  --green: #83b01b;
  --max-width: 1024px;
  --black: #000000;
  --white: #fafafa;

  --gradient-bg: linear-gradient(to left, #2E8B57, #D3D3D3);

  --margin-top: 2rem;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Playfair Display', serif;
  box-sizing: border-box;
}

h1 {
  font-size: 32pt;
}

h2,
h3 {
  font-size: 28pt;
}

h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0;
}

section {
  padding: 16px;
}

p {
  font-size: 18pt;
  text-align: justify;
}

strong {
  font-size: 16pt;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

header {
  background-image: var(--gradient-bg);
  width: 100%;
  height: 150px;
}

#servicos {
  background-color: var(--dark-green);
  color: #78a312;
}

#sobre {
  color: var(--dark-green);
}

#contato {
  background-color: var(--green);
  color: var(--dark-green);
}

.header-nav {
  padding: 0;
}

.nav-list {
  display: flex;
  list-style: none;
  gap: 32px;
  align-items: center;
}

.nav-link {
  color: var(--black);
  font-style: none;
}

.social-logo {
  height: 50px;
  width: auto;
}

.wrapper {
  max-width: var(--max-width);
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  margin: 0;
  height: 150px;
  width: auto;
}

main {
  max-width: 100%;
}

.sobre {
  display: grid;
}

.servicos {
  margin-top: var(--margin-top);
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.servicos > img {
  height: 100%;
  width: auto;
}

.servicos-list {
  display: block;
  grid-auto-rows: 1fr;
  row-gap: 0px;
}

.servico-descricao {
  font-size: 14pt;
}

footer {
  height: fit-content;
  background-color: var(--black);
  color: var(--light-green);
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.footer > p {
  margin: 0;
}

.contatos {
  margin-top: var(--margin-top);
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  p {
    word-wrap: break-word;
  }

  img:not(.header-logo, .social-logo) {
    display: none;
  }

  .contatos {
    flex-direction: column;
  }

  .footer {
    flex-direction: column;
  }
}
